body{
  background-color:black;
}
.contenant{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0px;
  background-color: #001f3f;
  box-shadow:100px 100px 300px #C0C0C0 inset;
}